/* --------- */
/* NavBar */
/* --------- */
nav {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg) translate3d(-50%,0,0);
    top: 15%;
    left: -6.5rem;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #575757;
}

nav a:hover {
    margin-right: 20px;
    text-decoration: none;
    color: #ec704c;
}

nav a.active {
    color: #ec704c;
}

/* --------- */
/* About */
/* --------- */
.about {
    width: 80%;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading {
    width: 30%;
    font-size: 1.15rem;
}
._img {
    margin: 10em;
    width: 35em;
    height: 20em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.51);
}
._content_wrapper {
    width: 40%;
}

.contact-btn {
    margin-right: 20px;
    text-decoration: none;
    color: #464646;
}

.contact-btn:hover {
    margin-right: 20px;
    text-decoration: none;
    background-color: #ec704c;
}

@media (max-width: 1024px) {
    .about {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    ._img {
        margin: 2em;
    }
    ._content_wrapper {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .about {
        margin-left: 4em;
        margin-right: 4em;
        flex-direction: column;
    }
    ._img {
        width: 15em;
        height: 12em;
    }
    ._content_wrapper {
        width: 15em;
    }
}

/* --------- */
/* Background */
/* --------- */
.displacement-sphere {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: "cubic-bezier(0.4, 0.0, 0.2, 1)";
}

.displacement-sphere--entering, .displacement-sphere--entered {
    opacity: 1;
}

/* --------- */
/* Contact */
/* --------- */
.contact {
    display: flex;
    width: 80%;
    margin-left: 20rem;
    margin-right: 10rem;
}

._form_wrapper {
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.51);
    width: 28em;
    height: 28em;
    padding: 2em;
}

.submit-btn {
    margin-right: 20px;
    text-decoration: none;
    color: #ffff;
    background-color: #0a0a0a;
    padding: 10px;
    border-radius: 10px;
}

.submit-btn:hover {
    margin-right: 20px;
    text-decoration: none;
    background-color: #ec704c;
}

.contact_msg {
    font-size: 4rem;
    margin: 5rem;
}

@media (max-width: 1024px) {
    ._form_wrapper {
        width: 300px;
        height: auto;
        margin-left: 4em;
        margin-right: 4em;
        padding: 2em;
    }
}

@media (max-width: 768px) {
    .contact {
        width: 70%;
        margin-left: 5rem;
        margin-right: 4rem;
        margin-bottom: 7em;
        flex-direction: column;
    }

    ._form_wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 2em;
    }

    .contact {
        flex-direction: column;
    }
}

/* --------- */
/* Work */
/* --------- */
.project {
    width: 80%;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-reverse {
    width: 80%;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.__img_wrapper {
    width: 60em;
}

.__img_wrapper > img {
    width: 100%;
}

.__content_wrapper {
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.51);
}

.title {
    font-size: 1.5rem;
    margin: 0;
}

.description {
    font-size: 1rem;
    width: 60%;
}

@media (max-width: 1024px) {
    .project {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .__content_wrapper {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .project {
        margin-left: 4em;
        margin-right: 4em;
        flex-direction: column;
    }

    .__img_wrapper {
        width: 340px;
    }
    
    .__content_wrapper {
        width: 70%;
    }
}

/* --------- */
/* Footer */
/* --------- */
.footer {
    background-color: rgb(10, 4, 22);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
}
.footer-copywright {
    text-align: center !important;
}

.footer-body {
    z-index: 1;
    text-align: center !important;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center !important;
}

    .footer-body {
        text-align: center !important;
    }
}

.footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
}

.blockquote-footer {
    color: #a588c0 !important;
}